/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  background-color: rgb(242, 244, 245);
}

main {
  position: relative;
  height: 100%;
  display: block;
  text-align: center;
}
