// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-end-primary: mat-palette($mat-indigo);
$front-end-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$front-end-theme: mat-light-theme($front-end-primary, $front-end-accent, $front-end-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-end-theme);

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  background-color: rgb(242, 244, 245) !important;
}

main {
  position: relative;
  height: 100%;
  display: block;
  // text-align: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.cdk-drag-placeholder {
  .issue-wrap {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;

    .issue-container {
      opacity: 0;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  text-align: center;
}
