.issue-wrap {
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px gainsboro;
  margin-bottom: 0.5rem;
  padding: 5px 3px;
}

.assignee-icon {
  border-radius: 100%;
  background-color: gold;
  width: 20px;
  height: 20px;
}

.assignee-icon:not(:first-child) {
  margin-left: -5px;
  background-color: greenyellow;
}
