<div class="issue-wrap">
  <div class="issue-container row no-gutters flex-column">
    <p class="issue-head">{{issue?.title}}</p>
    <div class="issue-main row no-gutters justify-content-between align-items-center">
      <div class="assignee row no-gutters items-center">
        <ng-container *ngFor="let user of assignee">
          <div class="assignee-icon">
            <img class="avatar" [src]="user.avatarUrl">
          </div>
        </ng-container>
        <div class="task-number ml-1">{{issue?.type}}-{{issue?.id}}</div>
      </div>
      <div class="task-icon row no-gutters items-center">
        <span class="material-icons {{iconClass}}">{{ issueTypeIcon }}</span>
      </div>
    </div>
  </div>
</div>
