<div class="issue-detail-wrap">
  <div class="issue-detail-header d-flex">
    <div class="flex-grow-1 mr-auto">
      <span></span>{{ issue.type }}
    </div>
    <div class="nav-right">
      <div class="feed-back"></div>
      <div class="issue-delet"></div>
    </div>
  </div>

  <main class="d-flex">
    <div class="issue-detail-main flex-grow-1">
      <div class="issue-d-main-wrap d-flex flex-column">
        <div class="issue-d-main-title flex-grow-1">
          <textarea class="form-control"></textarea>
        </div>

        <div class="issue-d-main-descp flex-grow-1">
          <ng-container *ngIf="isEditing; else readOnlyTemplate">
            <quill-editor class="editor" [modules]="editorOptions" [formControl]="descpControl" [placeholder]="''"
              (onEditorCreated)="editorCreated()">
            </quill-editor>
            <div class="btn-wrap">
              <my-btn>Save</my-btn>
              <my-btn [class]="'btn-secondry'">Cancel</my-btn>
            </div>
          </ng-container>
          <ng-template #readOnlyTemplate>
            <div class="read-only ql-snow" *ngIf="!isEditing">
              <div class="ql-editor" [innerHTML]="issue.description || 'Click to add Description'"></div>
            </div>
          </ng-template>
        </div>

        <div class="issue-d-main-comment flex-grow-1">
          <div class="issue-comment-wrap">
            <header>Comments</header>
            <div class="assignee">
              <img [src]="">
            </div>
            <div class="comment-input">
              <label>
                <input type="text" class="form-control" [formControl]="commentControl">
              </label>
            </div>
            <div class="btn-wrap">
              <my-btn>Save</my-btn>
              <my-btn [class]="'btn-secondry'">Cancel</my-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" issue-detail-right flex-grow-1">
    </div>
  </main>
</div>
