<div class="issue-detail-wrap">
  <div class="issue-detail-header d-flex">
    <div class="mr-auto issue-type d-flex" (click)="toggleDropDown = !toggleDropDown">
      <div class="d-flex issue-type-cur">
        <span class="material-icons {{iconClass}}">
          {{ iconType }}
        </span>
        <div class="issue-type">{{ issue.type }} - {{ issue.id }}</div>
      </div>
      <div class="issue-type-dropdown" [ngClass]="{'show': toggleDropDown}">
        <div class="dropdown-container" *ngFor="let icon of issueType" (click)="updateType()">
          <span class="material-icons {{icon.class}}">
            {{icon.icon}}
          </span>
          <span class="text"> - {{ icon.type }}</span>
        </div>
      </div>
    </div>
    <div class="nav-right d-flex">
      <div class="feed-back flex-grow-1"></div>
      <div class="issue-delet flex-grow-1 mr-2">
        <span class="material-icons" (click)="deleteIssue()">delete</span>
      </div>
      <div class="close flex-grow-1" (click)="closeModel()">
        <span aria-hidden="true">&times;</span>
      </div>
    </div>
  </div>

  <main class="d-flex">
    <div class="issue-detail-main col-8">
      <div class="issue-d-main-wrap d-flex flex-column">
        <div class="issue-d-main-title flex-grow-1">
          <input type="text" class="form-control" [formControl]="titleControl" (blur)="updateTitle()"
            [(ngModel)]="title" />
        </div>
        <div class="issue-d-main-descp flex-grow-1">
          <ng-container *ngIf="isDescpEditing; else readOnlyTemplate">
            <quill-editor class="editor" [modules]="editorOptions" [formControl]="descpControl" [placeholder]="''"
              (onEditorCreated)="editorCreated($event)">
            </quill-editor>
            <div class="btn-wrap">
              <my-btn (click)="saveDescription()">Save</my-btn>
              <my-btn [class]="'btn-secondry'">Cancel</my-btn>
            </div>
          </ng-container>
          <ng-template #readOnlyTemplate>
            <div class="content-readonly ql-snow" *ngIf="!isDescpEditing">
              <div class="ql-editor" [innerHTML]="issue.description || 'Click to add Description'"></div>
            </div>
          </ng-template>
        </div>

        <div class="issue-d-main-comment flex-grow-1">
          <div class="issue-comment-wrap">
            <header>Comments</header>
            <div class="assignee-icon mr-1">
              <img class="avatar" [src]="reporter.avatarUrl">
            </div>
            {{ reporter.name }}
            <div class="comment-input">
              <label>
                <input type="text" class="form-control" [formControl]="commentControl">
              </label>
            </div>
            <div class="btn-wrap" *ngIf="isCommentEditing">
              <my-btn>Save</my-btn>
              <my-btn [class]="'btn-secondry'">Cancel</my-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" issue-detail-right col-4">
      <div class="issue-btn-wrap d-flex flex-column">
        <div class="status-btn">
          <p>Status</p>
          <my-btn [class]="'btn-square bg-grey'">{{ issue.status }}</my-btn>
        </div>
        <div class="reporter-btn">
          <p>Reporter</p>
          <my-btn [class]="'btn-square bg-grey'">{{ reporter.name }}</my-btn>
        </div>
        <div class="assignee-btn">
          <p>Assignees</p>
          <ng-container *ngFor="let assigne of assignees">
            <my-btn [class]="'btn-square bg-grey'" class="mr-1">{{ assigne.name }}</my-btn>
          </ng-container>
        </div>
      </div>
      <div class="issue-timestamp">
        <div class="created-at">Created - {{ issue.createdAt | date: 'medium' }} </div>
        <div class="updated-at">Updated - {{ issue.updatedAt | date: 'medium' }}</div>
      </div>
    </div>
  </main>
</div>
