.issue-detail-wrap {
  .issue-detail-header {
    margin-bottom: 0.25rem;
    font-size: 14px;
    font-weight: 500;

    .issue-type {
      line-height: 2;
      position: relative;

      .issue-type-dropdown {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 2;
        padding: 2px 0;
        background-color: white;
        box-shadow:
          0 3px 6px -4px rgba(0, 0, 0, .12),
          0 6px 16px 0 rgba(0, 0, 0, .08),
          0 9px 28px 8px rgba(0, 0, 0, .05);

        &.show {
          display: block;
        }

        .text {
          vertical-align: text-bottom;
        }
      }
    }

    .close {
      cursor: pointer;
    }
  }

  main {
    .issue-detail-main {
      .issue-d-main-descp {
        .content-readonly {
          position: relative;
          min-height: 50px;
          cursor: pointer;

          .ql-editor {
            height: auto;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              margin-bottom: 10px;
            }

            img,
            video {
              display: inline-block;
            }

            ul {
              padding-left: 0.5rem;
            }
          }
        }

        .btn-wrap {
          text-align: right;
        }
      }
    }

    .issue-d-main-comment {
      .issue-comment-wrap {
        margin-top: 0.5rem;

        header {
          text-align: left;
          margin-bottom: 0.5rem;
        }

        .comment-input {
          padding-left: 24px;

          label {
            width: 100%;
          }
        }

        .btn-wrap {
          text-align: right;
        }
      }
    }

    .issue-detail-right {
      text-transform: uppercase;

      .status-btn {
        position: relative;

        .dropdown {
          p:first-child {
            margin-top: 4px;
          }
        }
      }

      .reporter-btn {
        position: relative;

        .dropdown {
          height: 150px;

          .dropdown-reporter-wrap {
            margin-top: 0.5rem;
            cursor: pointer;

            .text {
              display: inline-block;
              width: auto;
              padding-left: 5px;
            }
          }

        }

      }
    }

    .issue-timestamp {
      margin-top: 0.75rem;
      padding-top: 0.75rem;
      border-top: 2px solid grey;
    }
  }
}

.icon-task {
  color: rgb(75, 173, 232);
}

.icon-story {
  color: rgb(99, 186, 60);
}

.icon-bug {
  color: rgb(229, 73, 58);
}

.close {
  float: none;
}

.assignee-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: left;

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;

  }
}

.dropdown {
  position: absolute;
  width: 100%;
  padding-left: 16px;
  padding-top: 5px;
  display: none;
  background-color: white;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, .12),
    0 6px 16px 0 rgba(0, 0, 0, .08),
    0 9px 28px 8px rgba(0, 0, 0, .05);
  border-radius: 2px;
  text-transform: uppercase;
  z-index: 2;

  &.show {
    display: block;
  }
}
