<div class="wrapper">
  <header>
    <span class="material-icons icon-size-lg">donut_small</span>ATLASSIAN
  </header>

  <div class="container" [ngClass]="{'container-for-signup': formType === 'signup'}">
    <ng-container [ngSwitch]="formType">
      <ng-container *ngSwitchCase="'login'">
        <div class="row no-gutters flex-row mt-4">
          <div class="col-12 mt-4 mb-4">
            <h4>Log In To Your Account</h4>
          </div>
          <div class="col-8 mt-1 m-auto">
            <form [formGroup]="form">
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['username']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['password']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-grop" *ngIf="isAuth">
                <!-- wip dynamic create email project-->
              </div>
            </form>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'signup'">
        <div class="row no-gutters flex-row mt-4">
          <div class="col-12 mt-4 mb-4">
            <h4>Welcome to us</h4>
          </div>
          <div class="col-8 mt-1 m-auto">
            <form [formGroup]="form">
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['username']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['password']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['username']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['password']"></my-input> -->
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <!-- <my-input [formControl]="form.controls['password']"></my-input> -->
                <input type="text" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'reset'">
        <div class="row no-gutters flex-row mt-4">
          <div class="col-12 mt-4 mb-4">
            <h4>We will send a recoveray email to you.</h4>
          </div>
          <div class="col-12 mt-4 mb-4">
            <input class=" form-control" type='text'>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="col-8 text-right mt-1 m-auto align-self-start">
      <my-btn [class]="'btn-primary'" (click)="validateNext()">Submit</my-btn>
    </div>

    <footer *ngIf="formType === 'login'">
      <span><a class="link" (click)="openResetModal()">Cant't log in?.</a></span> <span><a class="link"
          (click)="goSignUp()">Sign up for an account</a></span>
    </footer>
  </div>
</div>
